body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  #calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  input {
    width: 85%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
  }
  
  button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  